*{
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}

/* BUTTON */
.button {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-primary {
  background-color: #7296EC;
  color: #fff;
}

.button-orange {
  padding: 15px 30px;
  color: #fff;
  background-color: #F78B3B;
}

.button-block {
  display: block;
  width: 100%;
}


/* CONTAINER */
.container {
max-width: 1240px;
width: 100%;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;
}

/* SITE-HEADER */

/* SITE-HEADER-TOP */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  display: flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}
/* CURRENCY-RATES */
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.currency-rates-item:not(:last-child){
  margin-right: 25px;
}

.currency-rates-type {
  color: #2959CE;
}

/* GLOBAL-SEARCH-FORM */

.global-search-form {
  margin-right: 25px;
}

.global-search-form-input {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  font-size: 14px;
  line-height: normal;
  border: 0;
  border-radius: 60px;
  background-image: url(../img/icon-search.svg);
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 20px;
}


/* LANG-TOGGLE */
.lang-toggle {
  display: flex;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
  margin-right: 25px;
}

.lang-toggle-link {
  font-size: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #A6A6A6;
}

.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}

/* SITENAV */
.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}
.sitenav-link {
  display: block;
  color: #7f7f7f;
  text-decoration: none;
}

.sitenav-link:hover {
  color: #7296ec;
}

.sitenav-link:active {
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner {
  margin-bottom: 50px;
}

.site-header-banner-link {
  display: flex;
}


/* TOP-NEWS */

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover {
  color: #7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  width: 360px;
  height: 165px;
  margin-top: auto;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 10px;
}

.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
}


/* NOTIFICATION-CTA */
.notification-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 70px 25px 30px;
  margin: 60px 75px;
  background-color: #ffd7ba;
  border-radius: 15px;
  background-image: url(../img/global-notification-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.notification-cta-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}

/* MAIN-CONTENT */
.main-content {
  margin-bottom: 100px;
}


/* GLOBAL-NEWS */
.global-news {
  display: flex;
}

.news-list-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

/* NEWS-LIST */
.news-list {
  width: 797px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 15px;
}

.news-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.article-card-horizontal {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.article-card-horizontal-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-horizontal-content {
  flex-grow: 1;
}
.article-card-horizontal-content-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.article-card-horizontal-content-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.article-card-horizontal-content-link:hover {
  color: #7296ec;
}

.article-card-horizontal-content-link:active {
  opacity: 0.6;
}

.article-card-horizontal-content-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-horizontal-footer {
  display: flex;
  align-items: center;
}

.article-card-horizontal-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}


.article-card-horizontal-source-time {
  color: #5E5F61;
}

.news-list-more-button {
  padding: 17px;
}

/* SIDEBAR */
.sidebar {
  width: 393px;
  margin-top: 48px;
}

.sidebar-news-card {
  padding: 20px;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}

.sidebar-news-card-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 5px;
  color: #000;
}

.sidebar-news-card-list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.sidebar-news-card-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
}

.sidebar-news-card-title {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}


.sidebar-news-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.sidebar-news-card-link:hover {
  color:#7296ec;
}

.sidebar-news-card-link:active {
  opacity: 0.6;
}

.sidebar-news-card-source-time {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: normal;
  color: #5E5F61;
}


/* ARTICLE */
.sidebar-article {
  width: 393px;
}

.article {
  display: flex;
}

.article-wrapper {
  width: 797px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 60px;
}

.article-part {
  margin-top: 0;
  margin-bottom: 50px;
}

.article-heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Rubik', 'Arial', serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  color: #000;
}

.article-img {
  margin-top: 0;
  margin-bottom: 25px;
  width: 797px;
  height: 300px;
  border-radius: 13px;
}

.article-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.article-text:last-child {
  margin-bottom: 0;
}

.article-divider {
  height: 0;
  border: 1px solid #d2d2d2;
}

/* INTERESTED */
.interested {
  width: 100%;
  margin-top: 0;
}

.interested-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  color: #000;
}

.interested-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.interested-item {
  width: 393px;
  height: 207px;
  padding: 20px 18px 15px 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.interested-item:not(:last-child) {
  margin-right: 10px;
}

.interested-item-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.interested-item-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.interested-item-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #4a4b4c;
}

.interested-item-source-time {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #5E5F61;
}

.interested-item-source-icon {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
}



/* SITE-FOOTER */
.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7297EF;
}

.site-footer *:focus {
  outline: 2px dashed #fff;
  outline-offset: 3px;
}

.site-footer-wrapper {
  width: 100%;
  max-width: 998px;
  margin-right: auto;
  margin-left: auto;
}

.site-footer-logo-link {
  display: flex;
  margin-top: 0;
  margin-bottom: 15px;
}

.site-footer-logo-img {
  width: 264px;
  height: 28px;
}

.site-footer-lists {
  display: flex;
}

.site-footer-lists-heading {
  width: 230px;
  margin-right: 200px;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}

.site-footer-list-wrapper {
  display: flex;
  flex-grow: 1;
}

.site-footer-list {
  width: 50%;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 20px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  list-style: none;
}

.site-footer-item {
  margin-top: 0;
  margin-bottom: 20px;
}

.site-footer-item:last-child {
  margin-bottom: 0;
}

.site-footer-item-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.site-footer-divider {
  margin-top: 0;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background-color: #cecece;
}

.site-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-socials-heading {
  width: 161px;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
}

.site-footer-social-list {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.site-footer-social-item:not(:last-child) {
  margin-right: 25px;
}

.site-footer-social-link {
  display: flex;
}

.site-footer-social-img {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  object-fit: contain;
}


/* FORM */
.form-groups-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-groups-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.form-group:not(:last-child) {
  margin-bottom: 10px;
}

.form-groups-wrapper .form-group {
  width: calc(50% - 5px);
  margin-bottom: 0;

}

.form-field {
  display: block;
  width: 100%;
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-field-textarea {
  min-height: 180px;
  resize: vertical;
}


/* CONTACT-PAGE */
.contact-page-content {
  display: flex;
}

.contact-page-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  color: #000;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  width: 696px;
  margin-right: 10px;
}

.contact-page-form-submit {
  align-self: flex-end;
  margin-top: 20px;
}

/* CONTACT PAGE INFO */
.contact-page-info {
  width: 494px;
}

.description-list {
  margin: 0;
  padding: 20px 25px;
  background-color: #f6f6f6;
  color: #000;
  border: 0;
  border-radius: 10px;
}

.description-list-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.description-list-item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
}

.description-list-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.description-list-value {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: normal;
}

.description-list-link {
  text-decoration: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .notification-cta {
    background-image: url(../img/global-notification-bg@2x.jpg);
  }

}